name: Deploy to Raspberry Pi

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to Raspberry Pi
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.PI_IP_ADDRESS }}
          username: cnc
          password: cnc
          script: |
            /home/cnc/deployment_scripts/update_intuigui.sh 